* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #edeade;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
  box-shadow: grey 0 0 2px 0;
  height: 15vh;
  background-color: #f2f0e7;
}
header img {
  width: 100px;
}

button {
  background-color: rgb(85, 144, 212);
  border: none;
  padding: 1rem 2rem;
  border-radius: 15px;
  cursor: pointer;
}
a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
main {
  height: 85vh;
  display: grid;
  grid-template-columns: 50% 50%;
}

.attraction {
  width: 100%;
}
.descriptionSite {
  font-size: 1.85em;
  padding: 1rem 0.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 30px;
  padding-top: 5rem;
}
.descriptionSite > div {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.descriptionSite > div > button {
  font-size: 1.35rem;
}

.form-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 50%;
  font-size: 2em;
  height: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 30px;
}
form input {
  font-size: 2.5rem;
}
form input[type="submit"] {
  color: white;
}
