* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  height: 100vh;
  font-size: 1rem;
  background-color: var(--forth-color);
}
:root {
  --primary-color: #f15412;
  --black-color: #000;
  --secondary-color: #161e54;
  --tertiary-color: #34b3f1;
  --forth-color: #ff9b6a;
  --white-color: #eeeeee;
}
header {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem 0rem 1rem;
}

.logo {
  width: 150px;
}
.home main {
  height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: var(--forth-color);
}
.attraction {
  width: 100%;
  margin: 0 auto;
}
.descriptionSite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2.25rem;
  padding: 1rem 4rem;
}
header button {
  background-color: var(--black-color);
  border-radius: 10px;
  color: var(--white-color);
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  cursor: pointer;
}
header button * {
  color: var(--white-color);
  text-decoration: none;
  font-size: 1.25rem;
}
.home main button {
  background-color: var(--black-color);
  border-radius: 10px;
  color: var(--white-color);
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  cursor: pointer;
}
.descriptionSite > div {
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
  width: 90%;
}
.descriptionSite h1 {
  color: var(--secondary-color);
}

.home main button * {
  color: var(--white-color);
  text-decoration: none;
  font-size: 1.65rem;
}
